{block content}

	<h3>{if $id !== null}Upravit{else}Přidat{/if} tým</h3>
	{form addTeamForm}
        <div class="row">
            <div class="col-md-2">{label name /}</div>
            <div class="col-md-10">{input name}</div>
            <div class="col-md-12">{input save 'class' => 'btn bnt-success bnt-bg'}</div>
        </div>

    {/form}

{/block}